* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

html, body{
    width: 100%;
    height: 100%;
    background-color: #81ecf0;
}

header {
    background-image: url("../midia/img/jhonny_maneiras_pg_gt.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 

    height:730px;
    width:100%;
    display: flex;
    align-items: center;
}

header h1{
    padding: 3rem;
    color: yellow;
    font-size: 3rem;
    text-shadow: .4rem .3mm #ff0202b9;
}

.texto{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 7rem;
}

.texto div#navegacao{
    padding: 5rem;
    color: rgb(253, 5, 5);
    text-align: center;
}

.texto div#corpo h2{
    padding: 0.3rem;
    font-size: 4rem;
    font-weight: 100;
    color: red;
}

.texto div#corpo h3{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 5rem;
    color: rgb(38, 0, 255)
}

.texto div#navegacao button{
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
    background-color: yellow;
    border: 25px solid rgb(170, 170, 170);
    border-radius: 0.3rem;
    transition: all .3s ease-out;
    cursor: pointer;
}

.texto div#navegacao button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #cf2e2e50;
}

.texto div#img{
    display: flex;
    justify-content: right;
}

.texto div#img{
    width: 600%;
    border-radius: 3rem;
    transform: scaleX(-1);
} 